*{
    padding:0;
    margin:0;
}


 header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    height: 60px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    z-index: 10;

}
  
#menu-button{
    width:40px;
    border:none;
    background-color:transparent;
    padding:10px;
    cursor:pointer;
    margin-right:2em;
}

#menu-button:focus{
    outline:none;
}

#menu-button>.bar{
    width:100%;
    height:3px;
    background-color:#333;
    border-radius: 1.5px;
    margin:3px auto;
}

#top-banner{
    width:100%;
    position: relative;
    height: 300px;
    margin-top:60px;
    background-image: url('https://cdn.pixabay.com/photo/2017/08/09/18/24/roe-deer-2615377_1280.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-blend-mode: overlay;
    overflow: hidden;

}
#top-banner>*{
    position:absolute;
}
#top-banner>h1{
    top:80px;
    left:120px;
    color:#fff;
    animation: banner-title 1.5s;
}

#top-banner>p{
    top:150px;
    left:120px;
    width:40%;
    color:#ddd;
    animation: content-title 3s;
}

#side-menu{
    position:fixed;
    top:60px;
    left:0;
    bottom:0;
    border-right:1px solid #ddd;
    width:200px;
    padding:10px 20px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
    transition-duration:800ms;
    background-color:#000;
    z-index: 99;
}
#side-menu.hidden{
    left:-100%;
}
#side-menu>ul{
    list-style:none;
}
#side-menu>ul>li{
    margin:20px 0;
}
#side-menu>ul>li>a{
    text-decoration: none;
    color:#fff;
}
#side-menu>ul>li>a:hover{
    font-weight:bold;
    color:#fff;
}

#loading{
    width:100%;
    height: 100%;
    position:fixed;
    background-color: #fff;
    left:0px;
    right:0px;
    z-index: 10;  
}
.container {
    display: grid;
    width: 750px;
    grid-template-columns: repeat(5, 150px);
    grid-auto-rows: 100px;
    grid-auto-flow: row dense;
    margin:20px auto;
}
  
.container>img {
    width: 100%;
    height: 100%;
    transition-duration: 500ms;
    opacity: 0.5;
}
  
.container>img:hover {
    transform: scale(1.1);
    opacity: 1;
    z-index: 1;
}

.container>img.big {
    grid-column: span 2;
    grid-row: span 2;
}
.head-bar{
    text-align: center;
    vertical-align: middle;
    width:1200px;
    height: inherit;
}
.logo{
    float:left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    color:#fff;
    height: inherit;
    padding-top:12px;
    font-weight: bold;
    width:30%;
}
.inner-head{
    width:50%;
    float:right;
}
.inner-head a{
    font-weight: bold;
    padding:20px;
    float:right;
    position:inherit;
    color:#fff;
}

#container1{
    width:100%;
    position:inherit;
    background:#f3f3f3;
}
#section1{
    width: 1200px;
    margin:0 auto;
    padding:1.5rem;
    position: inherit;
    height: 200px;
    background:#f3f3f3;
}
.insection>h1:hover{
    font-weight: bold;
    color:gray;
}
.insection{
    width:80%;
    float:right;
}
.box {
    width: 200px;
    margin: 200px auto;
  }

.wrapper {
    width: 200px; height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation:cube 2s linear 0s infinite;
}
@keyframes cube{
    from {
        transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    to {
        transform:rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
.face {
    width: 200px; height: 200px;
    position: absolute; left: 0; top: 0;
    opacity: 0.3;
    backface-visibility:hidden;
}
  .face:nth-child(1) {
    transform: rotateY(  0deg) translate3d(0px, 0px, 100px);
    background-color: red;
}
  .face:nth-child(2) {
    transform: rotateY( 90deg) translate3d(0px, 0px, 100px);
    background-color: green;
}
.face:nth-child(3) {
    transform: rotateY(180deg) translate3d(0px, 0px, 100px);
    background-color: blue;
}
.face:nth-child(4) {
    transform: rotateY(270deg) translate3d(0px, 0px, 100px);
    background-color: yellow;
}
.face:nth-child(5) {
    transform: rotateX( 90deg) translate3d(0px, 0px, 100px);
    background-color: brown;
}
.face:nth-child(6) {
    transform: rotateX(270deg) translate3d(0px, 0px, 100px);
    background-color: pink;
}

#section2-3{
    width:1224px;
    height: 380px;
    margin:0 auto;
}
#section2{
    width: 800px;
    height: 360px;
    position: inherit;
    float:left;
    border-right:3px solid #f3f3f3;
    padding-top:1.5rem;
}
#section3{
    width: 340px;
    height: 360px;
    position: inherit;
    float:right;
    padding: 1.5rem .75rem;
}
#section3>h1:hover{
    font-weight: bold;
    color:gray;
}
body{
    margin:0;
}
#footer{
    width:100%;
    height: 70px;
    background:#000;
    position: relative;
}
.Copyright{
    margin:0 auto; 
    z-index: 99; 
    color:#fff; 
    width:300px; 
    text-align:center; 
    padding-top:20px;
}
@keyframes banner-title{
    from {left:-50%;}
    to {left:120px;}
}
@keyframes content-title{
    from {opacity:0;}
    to {opacity:1;}
}

#loading {
    display: inline-block;
    background-color:white;
    padding: 10px;
    width:100%;
    height: 100%;
    animation: fadeout 5s;
    -moz-animation: fadeout 5s; /* Firefox */
    -webkit-animation: fadeout 5s; /* Safari and Chrome */
    -o-animation: fadeout 5s; /* Opera */
    animation-fill-mode: forwards;
  }
  @keyframes fadeout {
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  @-moz-keyframes fadeout { /* Firefox */
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  @-webkit-keyframes fadeout { /* Safari and Chrome */
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  @-o-keyframes fadeout { /* Opera */
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }